ul {
  list-style-type: none;
}

body {
  background: darkgray;
  padding-top: 70px; 
}

body#map {
	background: url(images/map.jpg) no-repeat black;
	height: 1200px;
	width: 1000px;
}
.jumbotron h1 {
	text-align: center;
	padding-bottom: 20px;
}